# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.egg-info/

# Data

# Temporary testing file
backend/test.py